R/dev/

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# OSX
######################

*.DS_Store

# Thumbnails
._*


# R
**/.Rproj.user
**/.Rhistory
**/.RData

